/OGA.WinSvc.Lib/.vs
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NET5/bin
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NET5/obj
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NET6/bin
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NET6/obj
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NET7/bin
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NET7/obj
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NET48/bin
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NET48/obj
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NET452/bin
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NET452/obj
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NETStd21/bin
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NETStd21/obj
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NETStd20/bin
/OGA.WinSvc.Lib/OGA.WinSvc.Lib_NETStd20/obj
